* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: "Poppins", sans-serif;
	background: url(../img/fondo.jpg);
}
header {
	background: url(../img/fondo_header.png) center bottom;
	padding: 34px 0;
	margin-bottom: 48px;
}
.contenedor {
	width: 960px;
	margin: auto;
	padding: 0 15px;
}
#logo, #menu {
    display: inline-block;
    vertical-align: middle;
}
#logo {
	width: 30%;
}
#menu {
	width: 70%;
	text-align: right;
}
#menu a {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    vertical-align: middle;
    transition: all 1s;
}
#menu a:hover {
	background: #FFF;
	color: rgb(42, 181, 186);
	border-radius: 8px;
}
#menu img {
    display: inline-block;
    vertical-align: middle;
}
#welcome, #tell {
	display: inline-block;
	vertical-align: top;
}
#welcome {
	width: 640px;
	padding-right: 30px;
	margin-top: 15px;
}
#welcome h2 {
	margin: 0;
	font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    letter-spacing: -2px;
}
#welcome p span {
    font-size: 14px;
    line-height: 1.786;
    color: #00989d;
}
#welcome p {
	font-size: 14px;
    line-height: 1.786;
}
#welcome ul {
	font-size: 14px;
	line-height: 1.786;
	list-style-image: url(../img/vineta.png);
	margin: 0;
	padding-left: 13px;
}
#welcome ul li {
	margin-bottom: 10px;
}
#welcome img, #lista {
	display: inline-block;
	vertical-align: top;
	margin-top: 13px;
}
#welcome img {
	width: 240px;
	float: left;
}
#lista {
    width: 340px;
    padding-left: 13px;
}
#tell {
	width: 290px;
	padding-top: 65px;
}
#tell  h3 {
	font-size: 30px;
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	letter-spacing: -2px;
}
#tell p {
	font-size: 14px;
	line-height: 1.786;
}
#tell p span {
	color: rgb(0, 152, 157);
}
#tell a {
	font-size: 14px;
	line-height: 1.786;
	color: rgb(0, 152, 157);
}
#tell p {
	margin: 12px 0;
}
#welcome h3 {
	font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    letter-spacing: -2px; 
    margin-bottom: 10px;
}
#izquierda, #derecha {
	display: inline-block;
	vertical-align: top;
}
#izquierda {
	width: 320px;
	padding-right: 43px;
}
#derecha {
	width: 290px;
}
#derecha a {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 152, 157);
    display: inline-block;
    margin: 10px 0; 
}
#izquierda a {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 152, 157);
    display: inline-block;
}
#derecha img {
	width: 278px; height: 140px;
}
#izquierda img {
	width: 278px; height: 140px;
}
#derecha p {
	margin: 10px 0;
}
#izquierda p {
	margin: 17px 0;
}
#principal .contenedor {
	padding-bottom: 50px;
}
#footer {
	background: url(../img/fondo_footer.png) center top;
	padding: 42px 0;
}
#logo_footer, #copy, #redes, #footer img {
    display: inline-block;
    vertical-align: middle;
} 
#logo_footer {
	width: 220px;
}
#copy {
	width: 430px;
	padding: 0 14px;
	font-size: 14px;
}
#copy span, #copy a {
	color: rgb(0, 152, 157);
	text-decoration: underline;
}
#redes {
	padding-left: 12px;
}
#iconos {
	margin-bottom: 16px;
}
#iconos a {
	margin-right: 6px;
}
#anio {
	font-size: 14px;
}
#anio span {
	margin: 0 8px;
}
